<div class="container-fluid">
  <div class="row">
    <div class="col-2 mt-3">
      <div class="nav flex-column nav-pills">
        <a class="nav-link" href="/" >Home</a>
        <a class="nav-link" href="/papers" >Papers</a>
        <a class="nav-link active" href="/settings" >Settings</a>
      </div>
      <div class="ml-2 mt-1">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/settings">Subscription</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black-50" href="/profile" role="tab">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black-50" href="/account">Account</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-10 pt-3 p-4 m-0">
      <h4 class="m-0 p-0 text-black-50">Manage your subscription</h4>
      <div class="card m-0 p-0 border-0">
        <div class="card-body p-0 pb-4 pt-4">
          <div class="row">
            <div class="col-12">
              <p class="lead text-muted">You can upgrade or downgrade your subscription by selecting the "Subscribe" button beneath the plan details.</p>
            </div>
          </div>
          <div class="alert alert-success" *ngIf="success && planUpdatedMessage" [innerHTML]="planUpdatedMessage +(coupon && couponValid ? ' '+couponMessage : '')"></div>
          <div class="alert alert-danger" *ngIf="!success && error && order?.isActive">{{error}}</div>
          <div class="alert alert-danger" *ngIf="!success && error && !order.isActive">{{error}}</div>
          <div class="alert alert-warning" *ngIf="!isLoading && !order?.isActive">Your subscription has been canceled. Please select a plan below to reactivate it.</div>
          <hr>
          <div class="row">
            <div class="col-4 border-right plan-con">
              <h5 class="text-center mb-3">Basic</h5>
              <img src="assets/img/newsweekly_remarkable.png" class="w-100" hidden>
              <div class="alert alert-secondary text-center border-0" role="alert">
                <span class="alert-link">$4.99</span> Billed monthly.
              </div>
              <div class="plan-con">
                <p class="text-sm-center"><b>15</b> post queries per month. <button class="btn btn-link text-dark" [ngbTooltip]="postQueryHelp"><i class="fa fa-info-circle"></i></button></p>
                <p class="text-sm-center"><b>20</b> articles per paper limit.<br>(Includes 1 daily inspirational quote) <button class="btn btn-link text-dark" [ngbTooltip]="articlesPerPaperLimitHelp"><i class="fa fa-info-circle"></i></button></p>
                <p class="text-sm-center"><b>15</b> paper downloads per month. <button class="btn btn-link text-dark" [ngbTooltip]="downloadLimitHelp"><i class="fa fa-info-circle"></i></button></p>
                <p class="text-sm-center"><b>10</b> paper templates. <button class="btn btn-link text-dark" [ngbTooltip]="paperTemplateHelp"><i class="fa fa-info-circle"></i></button></p>
              </div>
              <hr>
              <div class="text-center"><button class="btn btn-primary" (click)="managePlan('plan_GlgFCgZDgsvaVT')"
                                               [ngClass]="{'btn-light' : order?.data?.plan?.id =='plan_GlgFCgZDgsvaVT'}"
                                               [disabled]="isLoading || (order?.data?.plan?.id =='plan_GlgFCgZDgsvaVT' && order.isActive)">
                <i class="fa fa-spin fa-spinner pr-1" *ngIf="isLoading && selectedPlanId =='plan_GlgFCgZDgsvaVT'"></i>&nbsp;{{order?.data?.plan?.id =='plan_GlgFCgZDgsvaVT' && order.isActive ? 'Current Plan' : 'Subscribe'}}</button></div>
            </div>
            <div class="col-4 border-right">
              <h5 class="text-center mb-3">Standard</h5>
              <img src="assets/img/newsweekly_remarkable.png" class="w-100" hidden>
              <div class="alert alert-secondary text-center border-0" role="alert">
                <span class="alert-link">$12.99</span> Billed monthly.
              </div>
              <div class="plan-con">
                <p class="text-sm-center"><b>30</b> post queries per month. <button class="btn btn-link text-dark" [ngbTooltip]="postQueryHelp" ><i class="fa fa-info-circle"></i></button></p>
                <p class="text-sm-center"><b>50</b> articles per paper limit. (Includes 1 daily inspirational quote) <button class="btn btn-link text-dark" [ngbTooltip]="articlesPerPaperLimitHelp"><i class="fa fa-info-circle"></i></button></p>
                <p class="text-sm-center"><b>30</b> paper downloads per month. <button class="btn btn-link text-dark" [ngbTooltip]="downloadLimitHelp"><i class="fa fa-info-circle"></i></button></p>
                <p class="text-sm-center"><b>20</b> paper templates. <button class="btn btn-link text-dark" [ngbTooltip]="paperTemplateHelp"><i class="fa fa-info-circle"></i></button></p>
              </div>
              <hr>
              <div class="text-center"><button class="btn btn-primary" (click)="managePlan('plan_GlgFjjSNEPN2Sh')"
                                               [ngClass]="{'btn-light' : order?.data?.plan?.id =='plan_GlgFjjSNEPN2Sh' && order.isActive}"
                                               [disabled]="isLoading || (order?.data?.plan?.id =='plan_GlgFjjSNEPN2Sh' && order.isActive)">
                <i class="fa fa-spin fa-spinner pr-1" *ngIf="isLoading && selectedPlanId =='plan_GlgFjjSNEPN2Sh'"></i>&nbsp;{{order?.data?.plan?.id =='plan_GlgFjjSNEPN2Sh' && order.isActive ? 'Current Plan' : 'Subscribe'}}</button></div>
            </div>
            <div class="col-4 plan-con">
              <h5 class="text-center mb-3">Premium</h5>
              <img src="assets/img/newsweekly_remarkable.png" class="w-100" hidden>
              <div class="alert alert-secondary text-center border-0" role="alert">
                <span class="alert-link">$21.99</span> Billed monthly.
              </div>
              <div class="plan-con">
                <p class="text-sm-center"><b>60</b>  post queries per month. <button class="btn btn-link text-dark" [ngbTooltip]="postQueryHelp"><i class="fa fa-info-circle"></i></button></p>
                <p class="text-sm-center"><b>100</b>  articles per paper limit.<br>(Includes 1 daily inspirational quote) <button class="btn btn-link text-dark" [ngbTooltip]="articlesPerPaperLimitHelp"><i class="fa fa-info-circle"></i></button></p>
                <p class="text-sm-center"><b>60</b> paper downloads per month. <button class="btn btn-link text-dark" [ngbTooltip]="downloadLimitHelp"><i class="fa fa-info-circle"></i></button></p>
                <p class="text-sm-center"><b>Unlimited</b> paper templates. <button class="btn btn-link text-dark" [ngbTooltip]="paperTemplateHelp"><i class="fa fa-info-circle"></i></button></p>
              </div>
              <hr>
              <div class="text-center"><button class="btn btn-primary" (click)="managePlan('plan_GlgFqwUiP9Jtr0')"
                                               [ngClass]="{'btn-light' :order?.data?.plan?.id =='plan_GlgFqwUiP9Jtr0' && order.isActive}"
                                               [disabled]="isLoading || (order?.data?.plan?.id =='plan_GlgFqwUiP9Jtr0' && order.isActive)">
                <i class="fa fa-spin fa-spinner pr-1" *ngIf="isLoading && selectedPlanId =='plan_GlgFqwUiP9Jtr0'"></i>&nbsp;{{order?.data?.plan?.id =='plan_GlgFqwUiP9Jtr0' && order.isActive ? 'Current Plan' : 'Subscribe'}}</button></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <form [formGroup]="couponForm">
          <h4 class="m-0 p-0 text-black-50">Apply coupon</h4>
          <hr>
          <div class="row">
            <div class="col-10">
              <label for="coupon">Discount</label>
              <input type="text" class="form-control" id="coupon" [value]="coupon" name="coupon" placeholder="Coupon Code" formControlName="coupon" [ngClass]="{'is-invalid': !couponValid }" (change)="updateCouponState($event)">
              <div class="invalid-feedback" >
                {{error}}
              </div>
              <div class="mt-3 text-muted" *ngIf="couponData && couponValid">
                <i class="fa fa-check"></i>&nbsp;{{this.couponData.name}} (%{{this.couponData?.percent_off}} off)
              </div>
            </div>
            <div class="col-2">
              <label for="coupon">&nbsp;</label>
              <button class="btn btn-primary btn-block" (click)="saveCoupon()"><i class="fa fa-spin fa-spinner pr-1" *ngIf="isLoading"></i>&nbsp;{{couponValid && this.coupon?.length > 0  && couponHasSaved ? "Discount Applied" :"Apply discount"}}</button>
            </div>
          </div>
          </form>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <p class="pb-0 mb-0">Charges will appear on your credit card once per month</p>
          <hr class="w-100"/>
          <h4>Credit card</h4>
          <div class="row">
            <div class="col-6">
              <div class="text-muted">
                <i [class]="'card-logo pr-1 fa fa-2x fa-cc-' +
                (defaultSource?.card?.brand.toLowerCase().indexOf('express') !== -1 ? 'amex':
                defaultSource?.card?.brand.toLowerCase().replace(' ', '-'))"
                ></i>
                <span>•••• •••• •••• {{defaultSource?.card?.last4}}</span></div>
            </div>
            <div class="col-6">
              <div class="text-muted">BILLING ADDRESS</div>
              <address>
                <div class="mt-1"><strong>{{defaultSource?.owner?.name}}</strong></div>
                <div>{{defaultSource?.owner?.address.line1}}</div>
                <div *ngIf="defaultSource?.owner?.address?.line2">{{defaultSource?.owner?.address?.line2}}</div>
                <div>{{defaultSource?.owner?.address?.city}}, {{defaultSource?.owner?.address?.state}} {{defaultSource?.owner?.address.postal_code}} {{defaultSource?.owner?.address?.country}}</div>
              </address>
            </div>
            <div class="col-6">
              <div>EXPIRES</div>
              {{defaultSource?.card?.exp_month}} / {{defaultSource?.card?.exp_year}}
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-6">
              <span *ngIf="defaultSource?.status" class="border rounded p-2"
                    [ngClass]="{
                    'border-success text-success': defaultPaymentMethod?.isActive,
                    'border-danger text-danger': !defaultPaymentMethod?.isActive }">
                {{defaultPaymentMethod?.isActive ? 'active' : 'inactive'}}</span>
            </div>
            <div class="col-6">
              <button class="btn btn-outline-secondary pull-right" (click)="addUpdateCardInfo(content)">Replace card info</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="m-0 p-0 text-black-50">Cancel your subscription</h4>
          <hr>
          <div class="row">
            <div class="col-9">We are sad to see you go, but we understand that this glorious service may not be for everyone. Who are we kidding it really is :)</div>
            <div class="col-3 text-right"><button class="btn btn-block btn-outline-danger" (click)="confirmCancel(confirm)" [disabled]="!order?.isActive">Cancel your subscription</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Billing information</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="billingForm">
      <div class="card-body">
        <div class="form-group">
          <label for="cardHolderFld">Name on card</label>
          <input type="text" class="form-control" id="cardHolderFld" name="cardHolder" placeholder="" formControlName="cardHolder" [ngClass]="displayFieldCss('cardHolder')">
          <div class="invalid-feedback" *ngIf="isFieldValid('cardHolder')">
            your name on card is invalid.
          </div>
        </div>
        <div class="form-group">
          <label for="cardHolderFld">Card</label>
          <div id="card-element"></div>
          <div id="card-info" #cardInfo></div>
          <div id="card-errors" class="text-danger" role="alert" *ngIf="error">{{ error }}</div>
        </div>
        <div class="form-row">
          <hr class="w-100"/>
          <h4>Billing Address</h4>
          <hr class="w-100"/>
          <div class="col-md-12 mb-3">
            <label for="street1Fld">Street 1</label>
            <div class="input-group mb-3">
              <input type="text" id="street1Fld" data-number-stepfactor="20" class="form-control" formControlName="street1" [ngClass]="displayFieldCss('street1')"/>
              <div class="invalid-feedback">
                your address is invalid.
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="street1Fld">Street 2</label>
            <div class="input-group mb-3">
              <input type="text" id="street2Fld" data-number-stepfactor="20" class="form-control" formControlName="street2" />
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="cityFld">City</label>
            <div class="input-group mb-3">
              <input type="text" id="cityFld" data-number-stepfactor="20" class="form-control" formControlName="city" [ngClass]="displayFieldCss('city')" />
              <div class="invalid-feedback">
                Enter a city.
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="countryFld">Country</label>
            <div class="input-group mb-3">
              <select id="countryFld" class="form-control" formControlName="country" [ngClass]="displayFieldCss('country')" (change)="countryChanged()">
                <option [value]="country['code']" *ngFor="let country of countries; let itemIndex = index" [selected]="country['selected']">{{country["name"]}}</option>
              </select>
              <div class="invalid-feedback">
                Select a country.
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3" *ngIf="isInternational">
            <label for="otherStateFld">State / Province</label>
            <div class="input-group mb-3">
              <input type="text" id="otherStateFld" data-number-stepfactor="20" class="form-control" formControlName="state" [ngClass]="displayFieldCss('state')" placeholder="Optional"/>
              <div class="invalid-feedback">
                Enter State / Province
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3" *ngIf="!isInternational">
            <label for="stateFld">State</label>
            <div class="input-group mb-3">
              <select id="stateFld" class="form-control" formControlName="state" [ngClass]="displayFieldCss('state')">
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
              </select>
              <div class="invalid-feedback">
                Select a state.
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="zipFld">Zip code</label>
            <div class="input-group mb-3">
              <input type="text" id="zipFld" data-number-stepfactor="20" class="form-control" formControlName="zip" [ngClass]="displayFieldCss('zip')" />
              <div class="invalid-feedback">
                Enter a Zip code.
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="isLoading"> <i class="fa fa-spin fa-spinner p-1" *ngIf="isLoading"></i>&nbsp;Done</button>
  </div>
</ng-template>
<ng-template #confirm let-c="close" let-d="dismiss">
  <div class="modal-header bg-danger">
    <h4 class="modal-title text-white">Are you sure you want to cancel?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');">
      <span aria-hidden="true" class="text-white">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="cancelForm">
      <label for="cancelReason">Confirm this action. Why do you want to cancel?</label>
      <textarea id="cancelReason" formControlName="cancelReason" class="form-control" rows="5" placeholder="Enter a reason why you are canceling your subscription" [ngClass]="displayCancelFieldCss('cancelReason')"></textarea>
      <div class="invalid-feedback">
        To confirm you didn't do this by my mistake, please give us a reason why you are canceling.
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger mr-2" (click)="d('Cross click')" [disabled]="isLoading"> <i class="fa fa-spin fa-spinner p-1" *ngIf="isLoading"></i>Never mind</button>
    <button type="button" class="btn btn-danger" (click)="cancel()" [disabled]="isLoading || !cancelForm.valid" > <i class="fa fa-spin fa-spinner p-1" *ngIf="isLoading"></i>Cancel Subscription</button>
  </div>
</ng-template>
