<div class="container">
  <div class="card mt-3 border-0">
    <div class="card-body border-0">
      <div class="row">
        <div class="col-12">
          <h3>Choose a subscription</h3>
          <p class="lead text-muted">Download papers on your E-ink tablet, filled with the latest news tailored from your interests, location and preferred language. We have several plans to fit your individual needs.</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-4 border-right">
          <h5 class="text-center mb-3">Basic</h5>
          <img src="assets/img/newsweekly_remarkable.png" class="w-100">
          <div class="alert alert-secondary text-center border-0" role="alert">
            <span class="alert-link">$4.99</span> Billed monthly.
          </div>
          <p class="text-sm-center"><b>15</b> post queries per month. <button class="btn btn-link text-dark" ngbTooltip="postQueryHelp"><i class="fa fa-info-circle"></i></button></p>
          <p class="text-sm-center"><b>20</b> articles per paper limit.<br>(Includes 1 daily inspirational quote) <button class="btn btn-link text-dark" ngbTooltip="articlesPerPaperLimitHelp"><i class="fa fa-info-circle"></i></button></p>
          <p class="text-sm-center"><b>15</b> paper downloads per month. <button class="btn btn-link text-dark" ngbTooltip="downloadLimitHelp"><i class="fa fa-info-circle"></i></button></p>
          <p class="text-sm-center"><b>10</b> paper templates. <button class="btn btn-link text-dark" ngbTooltip="paperTemplateHelp"><i class="fa fa-info-circle"></i></button></p>
          <hr>
          <div class="text-center"><button class="btn btn-primary" (click)="subscribe('GlgFCgZDgsvaVT')">Subscribe</button></div>
          <div class="alert alert-light text-center border-0" role="alert">
            <span class=" text-muted text-success">3 day free trial. Cancel anytime.</span>
          </div>
        </div>
        <div class="col-4 border-right">
          <h5 class="text-center mb-3">Standard</h5>
          <img src="assets/img/newsweekly_remarkable.png" class="w-100">
          <div class="alert alert-secondary text-center border-0" role="alert">
            <span class="alert-link">$12.99</span> Billed monthly.
          </div>
          <p class="text-sm-center"><b>30</b> post queries per month. <button class="btn btn-link text-dark" ngbTooltip="postQueryHelp" ><i class="fa fa-info-circle"></i></button></p>
          <p class="text-sm-center"><b>50</b> articles per paper limit. (Includes 1 daily inspirational quote) <button class="btn btn-link text-dark" ngbTooltip="articlesPerPaperLimitHelp"><i class="fa fa-info-circle"></i></button></p>
          <p class="text-sm-center"><b>30</b> paper downloads per month. <button class="btn btn-link text-dark" ngbTooltip="downloadLimitHelp"><i class="fa fa-info-circle"></i></button></p>
          <p class="text-sm-center"><b>20</b> paper templates. <button class="btn btn-link text-dark" ngbTooltip="paperTemplateHelp"><i class="fa fa-info-circle"></i></button></p>
          <hr>
          <div class="text-center"><button class="btn btn-primary" (click)="subscribe('GlgFjjSNEPN2Sh')">Subscribe</button></div>
          <div class="alert alert-light text-center border-0" role="alert">
            <span class=" text-muted text-success">3 day free trial. Cancel anytime.</span>
          </div>
        </div>
        <div class="col-4">
          <h5 class="text-center mb-3">Premium</h5>
          <img src="assets/img/newsweekly_remarkable.png" class="w-100">
          <div class="alert alert-secondary text-center border-0" role="alert">
            <span class="alert-link">$21.99</span> Billed monthly.
          </div>
          <p class="text-sm-center"><b>60</b>  post queries per month. <button class="btn btn-link text-dark" ngbTooltip="postQueryHelp"><i class="fa fa-info-circle"></i></button></p>
          <p class="text-sm-center"><b>100</b>  articles per paper limit.<br>(Includes 1 daily inspirational quote) <button class="btn btn-link text-dark" ngbTooltip="articlesPerPaperLimitHelp"><i class="fa fa-info-circle"></i></button></p>
          <p class="text-sm-center"><b>60</b> paper downloads per month. <button class="btn btn-link text-dark" ngbTooltip="downloadLimitHelp"><i class="fa fa-info-circle"></i></button></p>
          <p class="text-sm-center"><b>Unlimited</b> paper templates. <button class="btn btn-link text-dark" ngbTooltip="paperTemplateHelp"><i class="fa fa-info-circle"></i></button></p>
          <hr>
          <div class="text-center"><button class="btn btn-primary" (click)="subscribe('GlgFqwUiP9Jtr0')">Subscribe</button></div>
          <div class="alert alert-light text-center border-0" role="alert">
            <span class=" text-muted text-success">3 day free trial. Cancel anytime.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
