
<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark">
  <div class="container">
    <!-- LOGO -->
    <a class="navbar-brand logo text-uppercase" href="/">
      <img src="../../assets/img/epaperweekly-logo.png" class="logo-light" alt="" height="40" alt="epaperweekly.com | Digital news delivered to your reMarkable tablet">
      <img src="../../assets/img/epaperweekly-logo.png" class="logo-dark" alt="" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="mdi mdi-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
        <li class="nav-item">
          <a href="/papers" class="nav-link"><i class="fa fa-lock pr-2"></i>My papers</a>
        </li>
      </ul>

      <div class="navbar-button">
        <a href="/plans" class="btn btn-sm btn-primary btn-round">Try it Free</a>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar End -->

<!-- START HOME -->
<section class="bg-home-1 " id="home">
  <div class="home-bg-overlay"></div>
  <div class="home-center">
    <div class="home-desc-center">
      <div class="container">
        <div class="row vertical-content">
          <div class="col-lg-6">
            <div class="home-content">
              <h3 class="home-title">Latest news on your E-ink tablet</h3>
              <p class="home-desc line-height_1_8 mt-4 text-white-50">Works perfectly with reMarkable Paper tablet, Sony Digital Paper, Onyx BOOX and more.  You pick your interests, location, language and we do the rest. Formatted perfectly for your reading delight.</p>
              <div class="mt-5">
                <a href="/plans" class="btn btn-white btn-round">Get Started <i class="mdi mdi-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="home-img mt-4">
              <img src="../../assets/img/home/news.png" class="img-fluid" alt="Get the latest news on your e-ink tablet.">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- END HOME -->
<!-- START SITES -->
<section class="bg-light">
  <div class="container">
    <div class="row mt-0 mb-2">
      <div class="col-2">
        <div class="counter-box text-center mt-5">
          <div class="mt-3 w-100"><img src="../../assets/img/home/sites/cnn.png" class="w-50 h-auto"></div>
        </div>
      </div>
      <div class="col-2">
        <div class="counter-box text-center mt-5">
          <div class="mt-3 w-100"><img src="../../assets/img/home/sites/foxnews.png" class="w-50 h-auto"></div>
        </div>
      </div>
      <div class="col-2">
        <div class="counter-box text-center mt-5">
          <div class="mt-3 w-100"><img src="../../assets/img/home/sites/bbc.png" class="w-50 h-auto"></div>
        </div>
      </div>
      <div class="col-2">
        <div class="counter-box text-center mt-5">
          <div class="mt-3 w-100"><img src="../../assets/img/home/sites/espn.png" class="w-50 h-auto"></div>
        </div>
      </div>
      <div class="col-2">
        <div class="counter-box text-center mt-5">
          <div class="mt-3 w-100"><img src="../../assets/img/home/sites/wsj.png" class="w-50 h-auto"></div>
        </div>
      </div>
      <div class="col-2">
        <div class="counter-box text-center mt-5">
          <div class="mt-3 w-100"><img src="../../assets/img/home/sites/wired.png" class="w-50 h-auto"></div>
        </div>
      </div>
    </div>
    <div class="row mt-5 mb-0 pb-5">
      <div class="col-12 text-center text-white-50">Latest articles from popular news networks and sites.</div>
    </div>
  </div>
</section>
<!-- END SITES -->
<!-- START WEB -->
<section class="bg-home-1" id="web">
  <div class="home-bg-overlay"></div>
  <div class="home-center">
    <div class="home-desc-center">
      <div class="container">
        <div class="row vertical-content">
          <div class="col-lg-6">
            <div class="home-img mt-4">
              <img src="../../assets/img/home/webpage_remarkable_epaperweekly.png" class="img-fluid" alt="Convert any webpage into a notebook and vew on your reMarkable tablet.">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="home-content">
              <h3 class="home-title">Convert any website into a digital notebook</h3>
              <p class="home-desc line-height_1_8 mt-4 text-white-50">No browser needed. Give us an any web address and we will do the conversion magic. A must have for business professionals, students, and anyone on the go. Perfect for those tablets like the reMarkable that does not have an internet browser.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END WEB -->
<!-- START RESEARCH -->
<section class="bg-home-1 " id="research">
  <div class="home-bg-overlay"></div>
  <div class="home-center">
    <div class="home-desc-center">
      <div class="container">
        <div class="row vertical-content">
          <div class="col-lg-6">
            <div class="home-content">
              <h3 class="home-title">No internet required. Take your research on the go.</h3>
              <p class="home-desc line-height_1_8 mt-4 text-white-50">Perfect for those long flights. Take your research with you without the hassle of finding a hotspot. Search through thousands of popular articles on specific topics and filter them by keyword, person, place or organization.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="home-img mt-4">
              <img src="../../assets/img/home/research.png" class="img-fluid" alt="No internet required. Take your research on the go. Designed for your reMarkable, Sony Digital Paper, and any other E-ink tablet">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END RESEARCH -->
<!-- START FEATURES -->
<section class="section p-0 mb-0 pb-3" id="features">
  <div class="container">
    <div class="row vertical-content">
      <div class="col-lg-6">
        <div class="features-img mt-4">
          <img src="../../assets/img/home/reading.png" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="features-content mt-4">
          <h4 class="title-heading line-height_1_4">News tailored for you</h4>
          <p class="text-muted mt-4">We know being connected to the world is important. We also know that the internet can be distracting.</p>
          <p class="text-muted mt-4">Get the latest news from all the major networks, hand-crafted and delivered to your reMarkable or other E-ink tablet. If the article is available in your language we will send it to you.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END FEATURES -->
<!-- START COUNTER -->
<section class="counter">
  <div class="container">
    <div class="row mt-0 mb-5 mt-0" id="counter">
      <div class="col-lg-3">
        <div class="counter-box text-center mt-5">
          <div class="counter-icon">
            <i class="mdi mdi-newspaper"></i>
          </div>
          <h2 class="counter-count mt-3"> <span class="counter-value" data-count="100">10</span>M</h2>
          <p class="mt-3 text-white-50 mb-0">Available Articles Daily</p>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="counter-box text-center mt-5">
          <div class="counter-icon">
            <i class="mdi mdi-web"></i>
          </div>
          <h2 class="counter-count mt-3"> <span class="counter-value" data-count="2679">1</span>M</h2>
          <p class="mt-3 text-white-50 mb-0">Sourced Websites</p>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="counter-box text-center mt-5">
          <div class="counter-icon">
            <i class="mdi mdi-account"></i>
          </div>
          <h2 class="counter-count mt-3"> <span class="counter-value" data-count="4.80">76</span></h2>
          <p class="mt-3 text-white-50 mb-0">Languages</p>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="counter-box text-center mt-5">
          <div class="counter-icon">
            <i class="mdi mdi-earth"></i>
          </div>
          <h2 class="counter-count mt-3"> <span class="counter-value" data-count="5000">230</span></h2>
          <p class="mt-3 text-white-50 mb-0">Countries</p>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- END COUNTER -->
<!-- START FOOTER -->
<section class="footer">
  <div class="footer-bg-overlay"></div>
  <div class="container">

    <!-- START FOOTER -->
    <div class="row footer-content">
      <div class="col-lg-4">
        <img src="../../assets/img/home/logo-light.png" alt="" height="40">
      </div>

      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-3">
            <h5 class="f-18 text-white">Home</h5>
            <ul class="list-unstyled footer-link mt-3">
              <li><a href="/about">About us</a></li>
              <li><a href="/careers">Careers</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-lg-3">
            <h5 class="f-18 text-white">Legal</h5>
            <ul class="list-unstyled footer-link mt-3">
              <li><a href="/terms">Terms & Conditions</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <!-- END FOOTER -->

    <!-- START FOOTER-AlT -->
    <div class="row mt-5">
      <div class="col-lg-12">
        <p class="footer-alt text-center mb-0">2020 © CEIGON, powered by <a href="https://www.einkpads.com" target="_blank" class="text-white">einkpads.com</a></p>
      </div>
    </div>
    <!-- END FOOTER-ALT -->

  </div>

</section>
<!-- END FOOTER -->

