<div class="container skinny">
  <div class="card mt-3 border-0">
    <div class="card-body">
      <form *ngIf="loginForm && !showReset" [formGroup]="loginForm" >
        <div class="form-row">
          <div class="col-12">
            <h3 class="text-black-50 mb-3">Password Recovery</h3>
            <p class="text-black-50">Sign in using your temporary password we sent you.</p>
            <p class="text-danger" *ngIf="!success">{{loginFailureMessage}}</p>
          </div>
          <div class="col-md-12 mb-3">
            <label for="usernameFld">Username</label>
            <div class="input-group mb-3">
              <input type="text" id="usernameFld" class="form-control" formControlName="username"
                     [ngClass]="{'is-invalid': !loginForm?.get('username').valid &&  (loginForm?.get('username').dirty || loginForm?.get('username').touched)}">
              <div class="invalid-feedback">
                Please enter your username.
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="lgpasswordFld">Password</label>
            <div class="input-group mb-3">
              <input type="password" id="lgpasswordFld" class="form-control" formControlName="password"
                     [ngClass]="{'is-invalid': !loginForm?.get('password').valid &&  (loginForm?.get('password').dirty || loginForm?.get('password').touched)}">
              <div class="invalid-feedback">
                Please enter a password.
              </div>
            </div>
          </div>
          <div class="col-6 offset-6 mb-3 text-right">
            <button class="btn btn-sm btn-primary"(click)="login()">Sign in</button>
          </div>
        </div>
      </form>
    </div>
    <div class="card-body">
      <form *ngIf="passwordResetForm && showReset" [formGroup]="passwordResetForm" >
        <div class="form-row">
          <div class="col-12">
            <h3 class="text-black-50 mb-3">Password Recovery</h3>
            <p class="text-black-50">Enter in a new password</p>
          </div>
          <div class="col-md-12 mb-3">
            <label for="passwordFld">Password</label>
            <div class="input-group mb-3">
              <input type="password" id="passwordFld" class="form-control" name="password" formControlName="password"
                     [ngClass]="{'is-invalid': !passwordResetForm?.get('password').valid &&  (passwordResetForm?.get('password').dirty || passwordResetForm?.get('password').touched)}">
              <div class="invalid-feedback">
                Your password must be 8 or more characters long.
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="verifyPasswordFld">Verify Password</label>
            <div class="input-group mb-3">
              <input type="password" id="verifyPasswordFld" class="form-control" name="verifyPassword" formControlName="verifyPassword"
                     [ngClass]="{'is-invalid': !passwordResetForm?.get('verifyPassword').valid &&  (passwordResetForm?.get('verifyPassword').dirty || passwordResetForm?.get('verifyPassword').touched)}">
              <div class="invalid-feedback">
                The Password verification field and password to do not match.
              </div>
            </div>
          </div>
          <div class="col-6 offset-6 mb-3 text-right">
            <button class="btn btn-sm btn-primary" (click)="resetPassword()">Reset my password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
