<div class="container skinny">
  <div class="card mt-3 border-0">
    <div class="card-body">
      <form *ngIf="!passwordSent && recoveryForm" [formGroup]="recoveryForm" >
        <div class="form-row">
          <div class="col-12">
            <h3 class="text-black-50 mb-3">Password Recovery</h3>
            <p [ngClass]="{'text-danger' : !success}">{{failureMessage}}</p>
            <p class="text-black-50">Don't worry your not the only one who has forgotten something important in their life.</p>
          </div>
          <div class="col-md-12 mb-3">
            <label for="emailFld">Your email address</label>
            <div class="input-group mb-3">
              <input type="text" id="emailFld" class="form-control" name="email" formControlName="email"
                     [ngClass]="{'is-invalid': !recoveryForm?.get('email').valid &&  (recoveryForm?.get('email').dirty || recoveryForm?.get('email').touched)}">
              <div class="invalid-feedback">
                The email you entered is invalid.
              </div>
            </div>
          </div>
          <div class="col-12  mb-3 text-right">
            <a href="/signin" class="btn btn-sm mr-3 text-black-50">Try signing in again</a>
            <button class="btn btn-sm btn-primary"(click)="recoverPassword()">Email me a password recovery link</button>
          </div>
        </div>
      </form>
      <div class="col-12" *ngIf="passwordSent">
        <h3 class="text-black-50 mb-3">Password Recovery</h3>
        <p class="text-black-50">If account exists, an email will be sent with further instructions.</p>
      </div>
      <div class="col-12" *ngIf="isVerified">
        <h3 class="text-black-50 mb-3">Password Recovery</h3>
        <p class="text-black-50">Your temporary password is:</p>
        <div class="alert-secondary rounded p-3 text-center mb-3">{{user?.tempPassword}}</div>
        <p>PLease copy the password and login, after which you will be asked to set a new password.</p>
        <button class="btn btn-outline-secondary btn-block" (click)="goReset()">Login</button>
      </div>
    </div>
  </div>
</div>
